* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh; 
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

header {
    display: grid;
    grid-template-rows: auto auto;
}

.header-content {
    background-color: #333;
    color: white;
    padding: 3rem; 
    font-size: 1.5rem;
}

nav {
    background-color: #000;
}

nav ul {
    list-style: none;
    display: flex; 
    justify-content: space-around; 
    padding: 0.5rem 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    display: block;
}


main {
    display: grid;
    grid-template-columns: 3fr 1fr; 
    min-height: 70vh; 
}


.main-content {
    background-color: #ccc;
    padding: 2rem;
    min-height: 100%; 
}

aside {
    background-color: white;
    padding: 2rem;
    min-height: 100%; 
}

footer {
    background-color: #333;
    color: white;
    padding: 3rem; 
    text-align: center;
}